<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buoi2.quanlyvanchuyen">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuanLyVanChuyen">

        <activity android:name=".MPLineChart"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ThongKeDoanhThuTheoThang">

        </activity>
        <activity android:name=".ThongCongTrinh2VatTu" />
        <activity android:name=".TestOnly" />
        <activity android:name=".ThemVatTuPhieuVanChuyen" />
        <activity android:name=".DanhSachVatTu" />
        <activity android:name=".MainActivity">

        <activity android:name=".ThongKeDoanhThuTheoThang"/>

        <activity android:name=".ThongCongTrinh2VatTu" />
        <activity android:name=".TestOnly"></activity>
        <activity android:name=".ThemVatTuPhieuVanChuyen" />
        <activity android:name=".DanhSachVatTu" />

        <activity android:name=".Menu" />
        <activity android:name=".ThongKe" />

        <activity android:name=".DanhSachCongTrinh" />

        <activity android:name=".ChiTietCongTrinh" />
        <activity android:name=".SuaPhieuVanChuyen" />
        <activity android:name=".SuaVatTu" />
        <activity android:name=".ThemVatTu" />
        <activity android:name=".ThongKeCongTrinh" />
        <activity android:name=".ThongKePhieuVanChuyen" />
        <activity android:name=".ThongKeVatTuDoanhThuCao" />
        <activity android:name=".ThongKeVatTuDungNhieu" />
        <activity android:name=".InCongTrinh" />
        <activity android:name=".InChiTietPhieu" />
    </application>

</manifest>